## 对比分析  
先处理表中的所有异常值，例如空值、离群值等等

In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/mycode/python/data_analyze/data/HR.csv')
df.count()

satisfaction_level       14998
last_evaluation          14999
number_project           14999
average_montly_hours     14999
time_spend_company       14999
Work_accident            14999
left                     14999
promotion_last_5years    14999
department               14999
salary                   14999
dtype: int64

In [14]:
#删除空值
df = df.dropna(axis=0,how="any")#axis 0为行，1为列,how all全部为空，any只要任意一个为空
df.count()

satisfaction_level       14998
last_evaluation          14998
number_project           14998
average_montly_hours     14998
time_spend_company       14998
Work_accident            14998
left                     14998
promotion_last_5years    14998
department               14998
salary                   14998
dtype: int64

In [15]:
#删除异常值
df = df[df["last_evaluation"]<=1][df["salary"]!="nme"][df["department"]!="sale"]
df.count()

satisfaction_level       14998
last_evaluation          14998
number_project           14998
average_montly_hours     14998
time_spend_company       14998
Work_accident            14998
left                     14998
promotion_last_5years    14998
department               14998
salary                   14998
dtype: int64

In [16]:
df["satisfaction_level"].describe()

count    14998.00000
mean         0.61285
std          0.24863
min          0.09000
25%          0.44000
50%          0.64000
75%          0.82000
max          1.00000
Name: satisfaction_level, dtype: float64

## 对比分析  
以部门为单位进行分组对比

In [18]:
#按照部门分组，求各个组的均值，对于文字类属性，直接去掉
df.groupby("department").mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
department,,,,,,,,
IT,0.618142,0.716830,3.816626,202.215974,3.468623,0.133659,0.222494,0.002445
RandD,0.619822,0.712122,3.853875,200.800508,3.367217,0.170267,0.153748,0.034307
accounting,0.582151,0.717718,3.825293,201.162973,3.522816,0.125163,0.265971,0.018253
hr,0.598809,0.708850,3.654939,198.684709,3.355886,0.120433,0.290934,0.020298
management,0.621349,0.724000,3.860317,201.249206,4.303175,0.163492,0.144444,0.109524
marketing,0.618601,0.715886,3.687646,199.385781,3.569930,0.160839,0.236597,0.050117
product_mng,0.619634,0.714756,3.807095,199.965632,3.475610,0.146341,0.219512,0.000000
sales,0.614508,0.709754,3.776758,200.926794,3.534187,0.141822,0.244745,0.024160
support,0.618300,0.723109,3.803948,200.758188,3.393001,0.154778,0.248991,0.008973
technical,0.607897,0.721099,3.877941,202.497426,3.411397,0.140074,0.256250,0.010294

In [19]:
#按照部门分组，求各个组的标准差
df.groupby("department").std()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
department,,,,,,,,
IT,0.249903,0.164508,1.221658,50.688311,1.408302,0.340425,0.416091,0.049406
RandD,0.245269,0.165093,1.164682,49.253223,1.214247,0.376106,0.360937,0.182134
accounting,0.255235,0.171904,1.261288,51.108274,1.404650,0.331120,0.442137,0.133952
hr,0.247929,0.174584,1.229168,50.366214,1.169510,0.325688,0.454501,0.141112
management,0.227747,0.160263,1.181271,47.382452,2.425715,0.370108,0.351819,0.312543
marketing,0.244280,0.173447,1.211713,49.356930,1.536907,0.367597,0.425240,0.218313
product_mng,0.242279,0.178147,1.244047,50.112636,1.428644,0.353644,0.414146,0.000000
sales,0.250250,0.171464,1.242641,49.556420,1.512467,0.348909,0.429988,0.153566
support,0.246406,0.171224,1.212096,50.023687,1.340860,0.361774,0.432525,0.094319
technical,0.254193,0.173364,1.258948,50.596130,1.262619,0.347127,0.436642,0.100955

In [32]:
#切片分组
df.loc[:,["last_evaluation","department"]].groupby("department").mean()

             last_evaluation
department
IT                  0.716830
RandD               0.712122
accounting          0.717718
hr                  0.708850
management          0.724000
marketing           0.715886
product_mng         0.714756
sales               0.709754
support             0.723109
technical           0.721099

In [28]:
df.loc[:,["average_montly_hours","department"]].groupby("department")["average_montly_hours"].apply(lambda x:x.max()-x.min())

department
IT             212
RandD          210
accounting     213
hr             212
management     210
marketing      214
product_mng    212
sales          214
support        214
technical      213
Name: average_montly_hours, dtype: int64